DB_URL="user:password@tcp(host:3306)/dbname"
PORT=8080
JWT_SECRET=ebe261139fbd4d559a84bc479bc38a78c987b9e0bde940d5b4a62dcff56c263d
CORS_ALLOWED_ORIGINS=http://localhost:5173
GEMINI_API_KEY="your_api_key_here"